<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Инструментал</title>
</head>
<body>
<h1>Инструментал</h1>
</body>
</html>
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<%- include('partials/head.ejs') %>-->
<!--<body>-->
<!--<%- include('partials/header.ejs') %>-->
<!--<main class="container img-wrapper-background height-main">-->
<!--    <h1>Инструментал</h1>-->
<!--</main>-->
<!--<%- include('partials/footer.ejs') %>-->

<!--<script src="/javascripts/materialize.js" ></script>-->
<!--<script src="/javascripts/common.js"></script>-->
<!--</body>-->
<!--</html>-->
