<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/regulations.css'/>
    <title>Театр</title>
</head>
<body>
<header>
    <nav class="z-depth-0 purple darken-4">
        <div class="nav-wrapper">
            <ul class="left">
                <li class="">
                    <a href="/regulations">Назад</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="container img-wrapper-background height-main">
    <div class="row">
        <div class="col s12">
            <h1 style="color: #9c27b0">Rising Star</h1>
            <p style="font-size: x-large; color: #212121">Міжнародний вокальний фестиваль-конкурс! | <span class="date-text ">2020-2022</span></p>
            <p>Організатори: <span>Іщенко Алевтіна</span> та <span>Овчиннікова Надія</span></p>
            <hr>
            <p>У конкурсі беруть участь вокалісти та вокальні колективи, окремі виконавці віком від 3 до 25 років та більше, без обмежень в різних вокальних жанрах зі всього світу!</p>
            <hr>
            <h5>ВІКОВІ КАТЕГОРІЇ:</h5>
            <ul>
                <li>3-6 років</li>
                <li>7-9 років</li>
                <li>10-12 років</li>
                <li>13-16 років</li>
                <li>17-25 років</li>
                <li>26 років та більше</li>
                <li>змішана вікова категорія</li>
            </ul>
            <h5>НОМІНАЦІЇ:</h5>
            <ul>
                <li>Театральні студії</li>
                <li>Театральні колективи</li>
                <li>Мюзікли</li>
                <li>Театри в танці</li>
                <li>Лялькові театри</li>
                <li>Театри мод</li>
                <li>Читці</li>
                <li>Виконавці індивідуальних номерів</li>
                <li>Гуморина</li>
            </ul>
            <h5>КРИТЕРІЇ ОЦІНЮВАННЯ:</h5>
            <ul>
                <li>сценарій</li>
                <li>сценічна композиція</li>
                <li>режиссура</li>
                <li>музичне оформлення</li>
                <li>художнє оформлення</li>
                <li>костюм</li>
                <li>акторська майстерність</li>
            </ul>
            <h5>УМОВИ ДО ВИСТУПУ:</h5>
            <p>Театральні колективи можуть надати одноактні вистави, уривки, композиції.</p>
            <ul>
                <li>- Для груп (театри і супровід) не менше 30 осіб - тривалість до 1 години</li>
                <li>- Для груп (театри і супровід) не менше 20 осіб - тривалість до 45 хвилин</li>
                <li>- Для груп (театри і супровід) не менше 10 осіб - тривалість до 30 хвилин</li>
                <li>- Вистави малих форм (до 10 осіб) тривалістю не більше 20 хв</li>
                <li>Читці та виконавці індивідуальних номерів надають поетичні або прозаїчні твори тривалістю не більше 5 хвилин.</li>
                <li>Відео може бути знято як на мобільний телефон, так і на професійну камеру.</li>
            </ul>
            <h5>НАГОРОДЖЕННЯ</h5>
            <ul>
                <li>Виступи конкурсантів оцінюються по 10-бальній системі.</li>
                <li>А також допускається дублювання призових місць.</li>
                <li>1 місце (10-9 баллів)</li>
                <li>2 місце (8-7 баллів)</li>
                <li>3 місце (5-4 баллів)</li>
                <li>учасник 3; 2; 1;</li>
            </ul>
            <ul>
                <li>Гран-Прі (великий кубок та диплом)</li>
                <li>Диплом лауреата 1 ступеня; ( кубок та диплом)</li>
                <li>Диплом лауреата 2 ступеня; (медаль та диплом)</li>
                <li>Диплом лауреата 3 ступеня. (Диплом)</li>
                <li>Учасник (диплом)</li>
            </ul>
            <h5>ФІНАНСОВІ УМОВИ:</h5>
            <p>Фестиваль не являється комерційним заходом та здійснюється за рахунок благодійних внесків за участь .</p>
            <p>Благодiйний внесок:</p>
            <ul>
                <li>соло-250 грн./1 чол.</li>
                <li>хори,ансамблі,дуєт,тріо(до10осіб)- 200 грн. / 1 чол.</li>
                <li>хори,ансамблі(понад10осіб)-100 грн. / 1 чол.</li>
            </ul>
            <h5>Увага!</h5>
            <p><b>Виконання додаткового номеру за окрему плату!</b></p>
            <h5>Пiльги:</h5>
            <p>Дiтям з багатодiтної родини надається знижка 50%.</p>
            <p>На безкоштовну участь в конкурсі мають право діти:</p>
            <ul>
                <li>Сироти - круглі сироти (без батька і матері)</li>
                <li>Діти інваліди 1-ї групи</li>
            </ul>
            <p><u>(Для підтвердження статусу
                    багатодiтноi родини інваліда, або сироти необхідно надати відповідні документи).</u></p>
            <h5>ЗАЯВКА НА УЧАСТЬ У ФЕСТИВАЛІ-КОНКУРСІ:</h5>
            <ul>
                <li>Країна</li>
                <li>Місто</li>
                <li>Керівник або студія (ім’я або назва)</li>
                <li>Прізвище, ім’я, по батькові учасника (англійською мовою)</li>
                <li>Номінація</li>
                <li>Вікова категорія</li>
                <li>Назва номеру</li>
                <li>Телефон для контакту</li>
                <li>Електронна адреса</li>
                <li>Номер пошти, ПІП, телефон отримувача</li>
                <li>ФОТО УЧАСНИКА для каналу - ОБОВ'ЯЗКОВО!</li>
            </ul>
            <h5>Контактні телефони:</h5>
            <ul>
                <li>+380 (97) 954 18 34</li>
                <li>+380 (99) 222 77 74</li>
                <li>(vider, telegram, Whatsapp)</li>
                <li>email - risingstarfest@gmail.com</li>
            </ul>
        </div>
    </div>
</main>
<div class="button">
    <a href="/pdfFromHTMLString" style="background-color: #4a148c" class="waves-effect waves-light btn">Скачать положение</a>
</div>
<%- include('../partials/footer.ejs') %>
<script src="/javascripts/materialize.js" ></script>
<script src="/javascripts/common.js"></script></body>
</html>
