<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.min.css'/>
    <link rel='stylesheet' href='/stylesheets/regulations.css'/>
    <link rel="icon" href="/images/favicon.ico">
    <title>Public offer</title>
</head>
<body>
<header>
    <nav class="z-depth-0 purple darken-4">
        <div class="nav-wrapper">
            <ul class="left">
                <li class="">
                    <a href="/">Back</a>
                </li>
            </ul>
            <div class="lang-wrapper">
                <a href="/ru">RU</a>
                <a href="/en">EN</a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="wrapper-img container">
        <h1>About the International Online Contest «Rising Star»</h1>
        <br>
        1. General Provisions.
        <br>
        1.1. The Agreement "On Holding the International Online Festival" Rising Star "(hereinafter referred to as the Agreement) defines the conditions and procedure for organizing and holding the International Online Festival" Rising Star "(hereinafter referred to as the Competition), held remotely (hereinafter referred to as the Organizer of the Competition) and, in accordance with Art. 633, 641 of the Civil Code of Ukraine is a public offer addressed to individuals (hereinafter referred to as the Participants) to provide an opportunity to participate in the Competition on the terms of this Agreement. The terms of the Agreement are the same for all consumers, the unconditional acceptance of the terms of which (payment in any way in accordance with Part 2 of Article 642 of the Civil Code of Ukraine) is considered acceptance of this Agreement between the Customer and the Organizer of the Competition and confirms the fact of its conclusion. A diploma is not a confirmation of an academic degree. A diploma is the marketing name of the competition. Distance competitions in countries. The country of the competition is the name of the competition and is indicated in the title of a separate competition.
        <br>
        1.1.1. By leaving an application for obtaining the Competition Regulations, through the contact information form on the website https://rsfrontend.herokuapp.com, the participant confirms his agreement with the public offer agreement
        <br>
        1.2. When jointly mentioned in the text of the Agreement, the Organizer of the Competition and the Participant are referred to as "Parties", and each of them separately - "Party".
        <br>
        1.3. Each Party guarantees to the other Party that it has the necessary right - and legal capacity, as well as all the rights and powers necessary and sufficient to conclude and execute the Agreement in accordance with its terms.
        <br>
        1.4. The current version of the Agreement is permanently posted on the website of the Competition Organizer at: "https://rsfrontend.herokuapp.com/confidentiality" and is required for the Participant to familiarize themselves with it prior to the moment of sending an application for participation in any competition indicated at https: / /rsfrontend.herokuapp.com/request.
        <br>
        1.5. The information resources of the Contest (hereinafter referred to as the Site) are the addresses of the pages on the Internet, which are indicated in Appendix 1 to this agreement.
        <br>
        1.6. The organizer of the competition unilaterally has the right to change the content of the Agreement in order to bring it in line with the changed legislation. The organizer of the competition may make the above changes without prior notice to the Participant. Changes to the content of the Agreement come into force from the moment of their publication at the address of permanent placement of the Agreement in the form of an updated text of the Agreement.
        <br>
        2. Terms and definitions used in the Agreement.
        <br>
        2.1. For the purposes of this Offer, the following terms are used in the following meaning: "Offer" - this document is a Public Offer for the provision of information services and data processing services. "Offer Acceptance" - full and irrevocable acceptance of the terms of the Offer. The Offer Acceptance presupposes the Offer Agreement. "Participant" - a person who has carried out the Offer Acceptance and thus becomes the customer of the Services of the Tender Organizer under this agreement. "Voluntary contribution" - the amount for the Participant to participate in one competitive program. "Offer Agreement" - an agreement between the Tender Organizer and the Participant for the provision of Services, which is concluded through the Offer Acceptance. "List of Services" - a set of services defined by the Regulations on the International Online Festival "Rising Star" for the service of Participants, published on the website for the International Online Festival "Rising Star". The list of services provided, given in the Regulation, is an integral part of this offer. "Jury" - cultural and art workers from Russia, the CIS and the Far Abroad, composers, teachers, representatives of the media, show business, appointed by the Organizer of the competition and evaluating the work of the Participants, and determining the winners, the main winner of the Competition based on its results. * The number and composition of the jury can be changed by the organizing committee without notice. "Winner" - the Participant of the Competition who won the Grand Prix, 1 (first), 2 (second) or 3 (third) places in the Competition in accordance with the Rules. "News" (or Post) - an informational publication posted by the Organizer in the news feed of the Communities. "Account" - the page of the Organizer or the Participant in the social network Internet. "Video clip" - an audiovisual recording made by the Participant using any recording device that meets the requirements of these Rules. "Competition" - International online festival "Rising Star" "Organizers of the competition" -It is specified in the regulation, carries out operational management of events within the framework of the Competition; - approves the Agreement on the Competition; - publishes information about the Competition on the Channel, Website and in the media; - establishes the procedure for holding and registers the results of the Competition; - organizes the awarding ceremony for the winners of the Competition; - provides technical and other support for the Competition; - for the duration of the Competition, forms the jury (hereinafter referred to as the Competition Jury); "Participant of the Competition" - a person taking part in the competition who has reached the age of eighteen, or a parent of a minor, or his legal guardian, or another person representing his legal interests in accordance with the legislation of Ukraine. If the participant has not reached the age of majority, the Application is submitted by his Legal Representative. Students (through parents, guardians, or persons representing their legitimate interests in accordance with the legislation of Ukraine), teachers of state and non-state educational institutions of all types and levels of education, as well as persons with musical education who graduated from educational institutions of any level are allowed to participate in the competition. ... "Site" - a software and hardware complex that contains all the official and title documents of the Competition, as well as documents through which the participants of the Competition are informed on the Internet about the progress of the Competition and its results, has the address of the Internet page: https: / /rsfrontend.herokuapp.com, and the email address of the Contest is risingstarfest@gmail.com.        <br>
        <br>
        3. Subject of the Agreement.
        <br>
        3.1. The Agreement determines the conditions and procedure for organizing and holding the Competition by the Competition Organizer, as well as the conditions and procedure for the Participant's participation in the Competition.
        <br>
        3.2. Participants of the Competition can be any individuals who have reached 18 years of age, exhibiting their work for the Competition and legal representatives of a minor (parents, guardians and other persons representing his legal interests in accordance with the legislation of Ukraine), exhibiting work performed by a minor from 3 years (If the participant has not reached the age of majority, the Application is submitted by his Legal Representative)
        <br>
        3.3. The timing of the Contest is determined by the Contest Organizer and posted on the Site. The timing of the competition may vary at the discretion of the Competition Organizers.
        <br>
        3.4. The order of participation in the competition: - filing an application for participation in the competition; - payment of the registration fee; - Sending competitive videos and copies of documents confirming the payment of the registration fee; - determination of the composition of the Participants and preparation of competitive video recordings in electronic form in accordance with the requirements specified in the regulation on the competition; - summarizing.
        <br>
        3.3. Songs may be performed in any language.
        <br>
        3.3.1 The organizers do not restrict participants in their creative manifestations when submitting competitive works, but the jury is assessed according to certain criteria (stage culture, stage freedom and artistry, level of performance, complexity and originality of performance, drama of the work and direction, acting). The participant who used the processing, backing vocals, correction and other technical changes takes responsibility for the correct evaluation of the submitted work, since technical correction and processing do not fully assess the participant's skill. The organizers can ask the participant to replace the competition work, as well as disqualify the participant if the submitted competition program violates the format of the competition, the rights of copyright holders, universal principles.
        <br>
        3.3.2 If a participant has not submitted a competitive work (full registration form) before the end of the application period, this participant will be disqualified without refund of the “Voluntary contribution”.
        <br>
        3.4. The purpose of the International Online Festival and any other "Rising Star" competition is to promote people who create or perform music, songs, dances, theatrical performances, acrobatic performances or any other performance within the rules of these regulations. Share your creativity with other people!
        <br>
        3.5. Links for downloading the Contest videos are sent by the Participant or the Participant's Legal Representative to the address of the Contest Organizer "risingstarfest@gmail.com" or indicated in the application within the time period established in the Regulations on the Contest.
        <br>
        3.6. The audition of the contestants is carried out by the Organizers of the competition and members of the jury.
        <br>
        3.7. The timing of the competition is determined by the Regulations on the Festival, which is an integral part of the Agreement. The competition is considered held from the moment the jury members determine the winner.
        <br>
        3.8. To participate in the competition, contestants must, no later than the deadline specified by the organizers, fill out an Application Form (from the site https://rsfrontend.herokuapp.com/request) to add video material and send it to the organizers of the competition.
        <br>
        3.9. The video material must be a recording of the Participant's live performance. The procedure for providing video material is specified in Appendix 2 to the Regulations on the competition.
        <br>
        3.10. Video material for participation in the competition is accepted after a voluntary contribution, in accordance with clauses 9.2, 9.9 of this Agreement. Works will not be accepted without a voluntary contribution.
        <br>
        3.11. Competition works are sent by the Participants to the address of the competition risingstarfest@gmail.com or using the form (site of the form https://rsfrontend.herokuapp.com/request) within the time frame established in the Regulations for the Festival. The works must be completed in accordance with the requirements specified in the Agreement and in the Competition Regulations. Contest works are not edited, reviewed by the Organizer of the competition and members of the Jury and are not returned to the Participants. Informing participants about all events related to the competition is carried out on the Site or using any other means at the discretion of the organizers of the competition. Placing any official information on the Site is the official procedure for informing. Each participant is considered properly informed from the moment information is published on the Site or in the official Facebook group, Instagram. Reports on the results of the Contest, as well as award materials, are published on either the Website or in the Facebook group, Instagram.
        <br>
        3.12. The organizers of the competition have the right to use video, photo and audio materials provided by the participant for marketing purposes without transferring ownership of the work to them.
        <br>
        3.13. Each Participant accepts that participation in the competition is voluntary, and the Organizer of the competition is not responsible for the content of copyrighted materials and cannot guarantee and does not promise any specific results from participating in the competition and / or using the competition website and / or its services.
        <br>
        3.14. The organizer of the competition has the right to demand from any participant in the competition an identity document; registration address, exact mailing address, other documents and information required to comply with the legislation of Ukraine and / or to organize and conduct a competition, in the form of scanned copies or notarized documents.
        <br>
        3.15. Participants do not have the right to publish in the public domain their personal data (phone number, address of residence, etc.), both their own and third parties.
        <br>
        3.16. The participant undertakes not to violate the copyrights of third parties. For violation of the established procedure for participation in the Competition established by the Agreement, or non-compliance with the current legislation, the Participant's work may be removed from the Competition without providing supporting documents, as well as at any stage of participation in the Competition.
        <br>
        3.17. For violation of the established procedure for participation in the Competition established by the Agreement, or non-compliance with the current legislation of Ukraine, the Participant may be removed from participation in the Competition without providing supporting documents, as well as at any stage of participation in the Competition.
        <br>
        3.18. If the Participant does not submit the competition work in electronic form in the manner prescribed by the Agreement or its submission in a format not agreed with the organizers of the competition, as well as the provision of incorrect accompanying data or details, all the risks and consequences of the recognition of the work as invalid are assumed by the author of the work.
        <br>
        3.19. Grounds for excluding a participant from the Competition: violation of the rules for participation in the Competition set forth in the Agreement; showing disrespect to the Competition Jury; failure to submit the competitive work in the manner and terms specified in the Agreement, in the Regulations for the Festival. This list is not exhaustive.
        <br>
        4. Registration of the competition work.
        <br>
        4.1. The competition work is presented in the form of one video file of a popular format (at the choice of the Participant), with a total volume of no more than 1000 MB. In the case of sending a video through a form on the site, no more than 300 MB. If it is impossible to reproduce the file, the Contest Jury has the right to request from the Participant the materials of the work in a format convenient for it.
        <br>
        4.2. Works over 1000 MB are not accepted for the Contest. (There are a lot of resources on the Internet for compressing video files)
        <br>
        4.3. For sending by e-mail, the folder with the competition materials is archived according to the ZIP standard and must have the extension “.zip”. The contents of the archive should not be closed in any way (password, key, etc.).
        <br>
        4.4. When sending the archive with the competition work by e-mail to the address of the organizers of the competition risingstarfest@gmail.com, the text of the letter must indicate:
        <br>
        4.4.1. Full name of the Participant;
        <br>
        4.4.2. Full name of the minor author of the work, if the Participant represents the work of a minor;
        <br>
        4.4.3. job title; And other data specified in the regulation.
        <br>
        <br>
        5. Measures to encourage participants in the Competition
        <br>
        5.1. The jury has the right to reward the Participants of the competition with award documents, souvenirs, funds of the sample established by the Organizer of the competition.
        <br>
        6. The procedure for determining and awarding the winners of the Competition
        <br>
        6.1. The prize fund is formed at the expense of the Participants of the Competition, the funds of the Sponsors and the funds of the organizers of the Competition at the discretion of the organizers. The funds of the prize fund are used to support the activities of the Competition Organizer, including the organization of the Competition.
        <br>
        6.2. The winners of the Contest are determined by the members of the Jury by secret ballot, based on the results of consideration of the entries submitted by the Participants.
        <br>
        6.3. To evaluate the Participants of the competition and determine the winners of the competition, the organizers of the competition send each of the members of the jury, in electronic form, the competition works of the Participants of the competition.
        <br>
        6.4. The evaluation of the Festival Participants is carried out by the members of the jury in the manner prescribed by the Regulations on the online festival, based on the results of viewing, listening to the competition works.
        <br>
        6.5. Each jury member evaluates the competition works in the country of which he is a resident during the period of the competition or in which he is at the time of the assessment of the competition work. The competition is actually held in the country of residence of each jury member.
        <br>
        6.6. The decision of the Jury to determine the winners of the Contest is final, not subject to appeal, and comes into force from the moment it is published on the Site or off. Facebook group, Instagram.
        <br>
        6.7. The list of winners is brought to the attention of the public through an announcement on the Site or off. Facebook group, Instagram. The winner will be notified of the fact of taking a prize place by e-mail and / or by placing an announcement on the Website and / or social networks (channels) of the festival
        <br>
        7. Consideration of applications of the Participants and settlement of disputes
        <br>
        7.1. During the execution of the Agreement, the Participant has the right to send notifications, requests, claims, statements, complaints and other appeals to the Competition Organizer, both provided for and not provided for by the Agreement, in one of the following ways (unless otherwise provided by the Agreement):
        <br>
        7.1.1. by submitting a complaint, claim or any other appeal to the email address of the Competition Organizer: risingstarfest@gmail.com
        <br>
        7.1.2. by ensuring that the Participant receives the application on paper by the Organizer of the competition, if the Participant's signature on such an application is notarized;
        <br>
        7.1.3. in another way, agreed by the Organizer of the competition and the Participant. The organizer of the competition accepts for consideration only the applications of the Participant, drawn up in Ukrainian or Russian.
        <br>
        7.2. In cases established by the Agreement or listed on the Site, the Participant is obliged to provide the Organizer of the Competition with a written application of the appropriate form and content.
        <br>
        7.3. The organizer of the competition, after receiving a written application from the Participant, including a claim, is obliged, within the period established by the current legislation of Ukraine, to consider the application and report the results of its consideration to the Participant.
        <br>
        7.4. The response to the Participant's application (including the Claim) is sent to the Participant in one of the ways chosen at the discretion of the Competition Organizer. If a decision is made to fully satisfy the claim, the Tender Organizer has the right to take appropriate actions without sending the applicant a response to satisfy the claim. 8. Rights and obligations of the Parties
        <br>
        8.1. The Organizer's rights:
        <br>
        8.1.1. refuse to register the Participant's work in the event that the work does not meet the requirements of this Agreement;
        <br>
        8.1.2. not accept as confirmation of the voluntary contribution of the Competitor a copy of the document containing errors made by the Competitor or another person when specifying payment and other details of the Competition Organizer.
        <br>
        8.1.3. process in any way for the purpose of executing the Agreement any personal data of the Participant provided by the Participant personally, or through third parties upon conclusion, or during the period of the Agreement;
        <br>
        8.1.4. The Participant grants the Contest Organizer exclusive rights to create, possess, use and dispose of audio, video and photographic materials (hereinafter "Materials") that will be created in relation to the Participant during the Contest, on the territory of all countries of the world, for the entire period of copyright protection , which begins to be calculated from the moment the Parties sign this Agreement.
        <br>
        8.2. Participant's rights:
        <br>
        8.2.1. receive notifications about the progress of processing your application for participation in the tender in the manner prescribed by the Agreement
        <br>
        8.2.2. submit claims to the Organizer of the competition and send other applications in the manner and in the cases provided for by the Agreement;
        <br>
        8.2.3. to unilaterally refuse to execute the Agreement by notifying the Organizer of the Competition in the manner prescribed by the Agreement.
        <br>
        8.3. Obligations of the Competition Organizer:
        <br>
        <br>
        8.3.1. notify the Participant about changes to the Agreement by posting such a notification on the Site of the Competition Organizer, or by sending a notification to the Participant in another way provided for by the Agreement;
        <br>
        8.3.2. take measures to prevent unauthorized access by other persons to information about the Participant's personal data, other than that published in open form on the Site of the Competition Organizer;
        <br>
        8.4. Obligations of the Participant:
        <br>
        8.4.1. provide the Competition Organizer with reliable and up-to-date contact information;
        <br>
        8.4.2. promptly inform the Organizer of the Competition about changes in personal data, details and data in the documents submitted to the Competition, data for sending notifications;
        <br>
        8.4.3. provide the Tender Organizer with information and documents required by the Tender Organizer as part of the execution of the Agreement;
        <br>
        8.4.4. The Participant gives the Contest Organizer his consent to the processing of any personal data, in any way for the purpose of executing the Agreement, provided by the Participant personally, or through third parties, upon conclusion, or during the period of the Agreement. If, during the execution of the Agreement, the Participant provides the Organizer of the Competition with personal data of third parties, the Participant guarantees the legality of their receipt and the consent of the subjects of these personal data to their provision, and also assumes responsibility for the legality of the provision and the validity of the specified data;
        <br>
        8.4.5. The participant agrees that all personal data provided by him to the Organizer of the competition may be openly published on the website of the organizer and in other media.
        <br>
        9. The procedure for the conclusion and voluntary contribution under the contract
        <br>
        9.1. The contract is concluded between the Organizer of the competition and the Participant in the form of a public contract (Articles 633, 641 of the Civil Code of Ukraine).
        <br>
        9.2. Acceptance of the terms of the Agreement is the performance by the Participant of the following action: - making a voluntary contribution to the settlement account or bank card of the Competition Organizer both by direct transfer and by transferring through payment Internet services, which the Competition Organizer has the right to independently choose and change
        <br>
        9.3. The condition for participation in the Contest is a voluntary contribution.
        <br>
        9.4. The size of the competition fee is determined in accordance with the tariffs specified in the Regulations for the International Online Festival, and is published on the website of the Competition Organizer.
        <br>
        9.5. The organizer of the competition has the right to unilaterally completely or partially change (increase, decrease), establish new, cancel existing voluntary contributions. In this case, the specified changes come into force from the date of publication of these changes on the Site of the Competition Organizer, unless otherwise provided by the Competition Organizer.
        <br>
        9.6. In case of disagreement with the application of the new sizes of competitive contributions, the Participant has the right to unilaterally refuse to execute the Agreement.
        <br>
        9.7. Regardless of the results of the competition, the voluntary contribution transferred by the Participant in the event of termination of the Agreement is not refundable.
        <br>
        9.8. All transfers of the Parties are made in US Dollar, British Pound, Euro, Ukrainian Hryvnia. At the discretion of the organizing committee of the festival.
        <br>
        9.9. A voluntary contribution under this Agreement is made by the Participant in the form of a transfer of 100% of the amount for any of the non-cash payment options specified by the organizers of the competition, unless otherwise specified in the additional agreement (conditions) to this Offer Agreement.
        <br>
        9.10. The voluntary contribution is non-refundable. Within 5 working days, you can return the prepayment in the amount of 50% indicating the reason for the return by sending a letter to the postal address specified in this Agreement, informing the organizers of the competition in advance.
        <br>
        9.11. Acceptance of the terms of the Agreement means the full and unconditional acceptance by the Participant of all the terms of the Agreement without any exceptions and / or restrictions and is tantamount to concluding a bilateral written agreement.
        <br>
        10. Modification and termination of the Agreement
        <br>
        10.1. The parties agreed that the Competition Organizer has the right to amend the terms of the Agreement. Changes made by the Competition Organizer become binding on the Parties from the moment they are posted on the Site, unless otherwise provided by the Competition Organizer.
        <br>
        10.2. In case of disagreement with the change in the terms of the Agreement, the Participant has the right, within three calendar days from the date of posting the new version of the Agreement on the Website of the Competition Organizer, to unilaterally refuse to execute the Agreement by transferring to the Competition Organizer an original copy of the signed application on paper in the form established by the Competition Organizer ...
        <br>
        10.3. If the Organizer of the Competition does not receive a written notification from the Participant about the unilateral refusal to execute the Agreement within the period specified in clause
        <br>
        10.2. Of the Agreement, the Participant is considered to have expressed his consent to the changes in the terms of the Agreement.
        <br>
        10.4. Refusal to fulfill the Agreement, termination of the Agreement, termination of the Agreement for other reasons entails the termination of the Participant's participation in the Competition.
        <br>
        10.5. The Participant has the right to refuse to execute the Agreement at any time by sending a corresponding notification to the Competition Organizer in the ways stipulated by the Agreement. In this case, the Agreement is considered terminated upon expiration of 10 (ten) calendar days after the Competition Organizer receives the corresponding notification. In this case, the voluntary contribution is non-refundable to the Participant.
        <br>
        10.6. The organizer of the competition has the right to unilaterally refuse to execute the Agreement by sending the relevant notification to the Participant in any of the ways provided by the Agreement. In this case, the Agreement is considered terminated upon the expiration of 15 (fifteen) calendar days after sending the corresponding notification. 11. Responsibility of the Parties
        <br>
        11.1. In case of violation of their obligations under this Offer, the Parties shall be liable as defined by this Offer and the current legislation of Ukraine.
        <br>
        11.2. The organizer of the competition is not responsible for:
        <br>
        11.2.1. for failures in the work of third-party services, mail, the Internet, communication networks that arose for reasons beyond the control of the Competition Organizer and resulted in the Participant's late receipt or non-receipt of notifications from the Competition Organizer;
        <br>
        11.2.2. in case of technical failures (disconnection / damage to power supply and communication networks, software failures of the processing center and technical failures in payment systems), which resulted in the Organizer's failure to comply with the terms of the Agreement;
        <br>
        11.2.3. for losses incurred as a result of incorrect filling in by the Participant of instructions on the operation of transferring a voluntary contribution;
        <br>
        11.2.4. for losses incurred as a result of violation by the Participant of the established procedure for making a voluntary contribution;
        <br>
        11.2.5. for losses incurred as a result of the Participant providing inaccurate, incorrect, erroneous data for sending notifications;
        <br>
        11.2.6. for losses incurred as a result of the Participant providing false identification data; 12. Force majeure.
        <br>
        12.1. The Parties are exempt from liability for non-fulfillment of obligations if this non-fulfillment is caused by circumstances that do not depend on the will of the Parties, but martial law, namely: military actions, natural disasters, man-made and other accidents, strikes, lockouts, acts of government or administration, etc. that makes it impossible to fulfill the terms of this Agreement (hereinafter Force Majeure).
        <br>
        12.2. Force majeure is applied, and the Party for which it occurred is released from liability for violation of the terms of this Agreement, if there is a written confirmation (conclusion, certificate) of the Chamber of Commerce and Industry of Ukraine or the country in which the force majeure circumstances occurred or another authorized authority on the occurrence of force majeure.
        <br>
        12.3. The Party for which the Force Majeure has occurred undertakes to immediately notify the other Party and provide documents confirming the Force Majeure.
        <br>
        12.4. From the moment the other party receives such notification, the fulfillment of the terms of this Agreement is suspended for the entire period of force majeure.
        <br>
        12.5. In the event of Force Majeure circumstances for more than 3 months, each of the parties has the right to initiate termination of the Agreement.
        <br>
        13. Procedure for information interaction between the Parties
        <br>
        13.1. When concluding the Agreement, the Participant is obliged to provide the Organizer of the Competition with reliable information to communicate with the Participant and send him notifications about the progress of the Competition. The participant is responsible for ensuring that the specified data is always valid.
        <br>
        13.2. By default, the proper way to inform the Participant about the operation with his application and competition work is to send a notification to the email address provided by the Participant in accordance with clause
        <br>
        13.1. Agreement.
        <br>
        13.3. The Participant has the right at any time to change the previously selected notification method by providing the Competition Organizer with reliable information to communicate with the Participant and send him notifications in the manner established by the Competition Organizer.
        <br>
        13.4. If the Participant refuses all the methods of sending to the Participant notifications about operations with the application and the competition work, proposed by the Competition Organizer, the Participant shall be deemed not to have properly provided information for communication with the Participant in accordance with cl.
        <br>
        13.1, and the Organizer of the Competition is considered to have fulfilled its obligations to inform the Participant about the operations performed with the application and the competition work. In this case, the Participant is not entitled to present to the Tender Organizer claims related to inadequate notification of the Participant about operations.
        <br>
        13.5. The obligation of the Competition Organizer to inform the Participant about the operation with the application and the competition work is considered fulfilled at the time of sending the corresponding notification. The notification is considered received by the Participant within 24 hours from the moment of sending. The Organizer of the Competition is not responsible for the Participant's lack of access to the means by which the Participant can receive a notification, or late receipt of notification, including for failures in the operation of the Internet, communication networks that have arisen due to reasons beyond the control of the Competition Organizer and which have entailed untimely receipt or non-receipt by the Participant of notifications from the Competition Organizer.
        <br>
        13.6. The organizer of the competition has the right, at its discretion, to send to the Participant any other notifications (including those giving rise to legal consequences), responses to applications, claims and other appeals, in one of the following ways:
        <br>
        13.6.1. by posting on the Site of the Organizer of the competition;
        <br>
        13.6.2. to the email address of the Participant provided in accordance with clause
        <br>
        13.1. and / or indicated by him in any written application previously received by the Organizer of the competition; When sending notifications in accordance with subparagraphs
        <br>
        13.6.1.-13.6.2. Of the Agreement, the notification is considered to be received by the Participant after 24 hours from the moment of sending the notification.
        <br>
        14.Other provisions
        <br>
        14.1. The participant guarantees that all the terms of the Agreement are clear to him, and he accepts them unconditionally and in full.
        <br>
        14.2. The Participant guarantees that he will not use the Contest for illegal purposes, as well as for purposes other than those specified in the Agreement.
        <br>
        14.4. The material and procedural law of Ukraine is applied to the relationship between the Parties under the Agreement, regardless of the citizenship and place of residence of the Participant.
        <br>
        14.5. The organizer of the competition is a single tax payer
        <br>
        14.6. The organizer of the competition is not registered as a VAT payer and is not one.
        <br>
        14.7 Electronic Diplomas will be sent to all participants free of charge. Electronic diplomas are sent with the signature of the jury members. Correspondence with participants through official communication channels is the official position of the organizers of the committee.
    </div>
</main>
<nav class="z-depth-0 purple darken-4">
    <div class="nav-wrapper">
        <ul class="left">
            <li class="">
                <a href="/">Back</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>



