<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.min.css'/>
    <link rel='stylesheet' href='/stylesheets/regulations.css'/>
    <link rel="icon" href="/images/favicon.ico">
    <title>Публичная оферта</title>
</head>
<body>
<header>
    <nav class="z-depth-0 purple darken-4">
        <div class="nav-wrapper">
            <ul class="left">
                <li class="">
                    <a href="/">Назад</a>
                </li>
            </ul>
            <div class="lang-wrapper">
                <a href="/ru">RU</a>
                <a href="/en">EN</a>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="wrapper-img container">
        <h1>О проведении Международного онлайн конкурса «Rising Star»</h1>
        1. Общие положения.
        <br>
        1.1. Договор «О проведении Международного онлайн фестиваля «Rising Star» (далее по тексту - Договор) определяет условия и порядок организации и проведения Международного онлайн фестиваля «Rising Star» (далее по тексту - Конкурс), проводимого дистанционно (далее по тексту – Организатор конкурса) и, в соответствии со ст. 633, 641 Гражданского кодекса Украины является публичной офертой адресованной физическим лицам (далее по тексту - Участники), о предоставлении возможности участия в Конкурсе на условиях данного Договора. Условия Договора одинаковы для всех потребителей, безоговорочное принятие условий которого (оплата любым способом в соответствии с ч.2 ст. 642 Гражданского кодекса Украины) считается акцептом настоящего Договора между Заказчиком и Организатором конкурса и удостоверяет факт его заключения. Диплом не является подтверждением ученой степени Диплом это маркетинговое название конкурса Дистанционные конкурсы в странах Страна проведения конкурса является названием конкурса и указывается в названии отдельно взятого конкурса.
        <br>
        1.1.1. Оставляя заявку на получение Положений конкурса, через форму получения контактных данных на сайте https://rsfrontend.herokuapp.com, участник подтверждает свое согласие с договором публичной оферты
        <br>
        1.2. При совместном упоминании в тексте Договора Организатор конкурса и Участник именуются «Стороны», а каждый из них по отдельности - «Сторона».
        <br>
        1.3. Каждая Сторона гарантирует другой Стороне, что обладает необходимой право - и дееспособностью, а равно всеми правами и полномочиями, необходимыми и достаточными для заключения и исполнения Договора в соответствии с его условиями.
        <br>
        1.4. Действующая редакция Договора на постоянной основе размещена на сайте Организатора конкурса по адресу: «https://rsfrontend.herokuapp.com/confidentiality» и обязательна для ознакомления Участником до момента совершения отправки заявки на участие в каком либо конкурсе указанном по адресу - https://rsfrontend.herokuapp.com/request.
        <br>
        1.5. Информационными ресурсами Конкурса (далее по тексту – Сайт) являются адреса страниц в сети интернет, которые указаны в Приложении 1 к данному договору.
        <br>
        1.6. Организатор конкурса в одностороннем порядке вправе изменить содержание Договора в целях приведения в соответствие с изменившимся законодательством. Организатор конкурса может вносить указанные выше изменения без предварительного уведомления Участника. Изменения содержания Договора вступают в законную силу с момента их публикации по адресу постоянного размещения Договора в виде обновленного текста Договора.
        <br>
        2. Термины и определения, применяемые в Договоре.
        <br>
        2.1. В целях настоящей Оферты нижеприведенные термины используются в следующем значении: «Оферта» — настоящий документ Публичная Оферта предоставления информационных услуг и услуг по обработке данных. «Акцепт Оферты» — полное и безвозвратное принятие условий Оферты. Акцепт Оферты предполагает Договор Оферта. «Участник» — лицо, осуществившее Акцепт Оферты и становящееся, таким образом, заказчиком Услуг Организатора конкурса по заключенному данному договору. «Добровольный взнос» — сумма для участия Участника в одной конкурсной программе. «Договор Оферты» — договор между Организатором конкурса и Участником на предоставление Услуг, который заключается посредством Акцепта Оферты. «Перечень услуг» — комплекс услуг определённый Положением о проведении Международного онлайн фестиваля «Rising Star» по обслуживанию Участников, опубликованный на сайте по проведению Международного онлайн фестиваля «Rising Star». Перечень оказываемых услуг, приведенный в Положении, является неотъемлемой частью настоящей оферты. «Жюри» - деятели культуры и искусства России, СНГ и Дальнего зарубежья, композиторы, педагоги, представители средств массовой информации, шоу-бизнеса, назначенные Организатором конкурса и осуществляющие оценку работ Участников, и определяющие по её результатам победителей, главного победителя Конкурса. * Количество и состав жюри может быть изменен оргкомитетом без предупреждения. «Победитель» – Участник Конкурса, занявший Гран При, 1 (первое), 2 (второе) или 3 (третье) место в Конкурсе в соответствии с Правилами. «Новость» (или Пост) – информационная публикация, размещенная Организатором в ленте новостей Сообществ. «Аккаунт» – страница Организатора или Участника в социальной сети Интернет. «Видеоролик» – аудиовизуальная запись, осуществленная Участником при помощи любого записывающего устройства, отвечающая требованиям настоящих Правил. «Конкурс» - Международного онлайн фестиваля «Rising Star» «Организаторы конкурса» -Указано в положении, осуществляет оперативное управление мероприятиями в рамках Конкурса; - утверждает Договор о Конкурсе; - размещает информацию о Конкурсе на Канале, Сайте и в средствах массовой информации; - устанавливает порядок проведения и проводит регистрацию результатов Конкурса; - организует награждение победителей Конкурса; - осуществляет техническое и иное обеспечение Конкурса; - на время проведения Конкурса формирует жюри (далее по тексту – Жюри конкурса); «Участник конкурса» – лицо, принимающее участие в конкурсе, достигшее восемнадцати лет, либо родитель несовершеннолетнего лица, или его законный опекун, или иное лицо, представляющее его законные интересы в соответствии с законодательством Украины. Если участник не достиг совершеннолетия, подачу Заявления производит его Законный представитель. К участию в конкурсе допускаются учащиеся (через родителей, опекунов, или лиц, представляющих их законные интересы в соответствии с законодательством Украины), педагоги государственных и негосударственных учебных заведений всех типов и уровней образования, а также лица с музыкальным образованием, закончившие учебные заведения любого уровня. «Сайт» - программно-аппаратный комплекс, на котором размещены все официальные и правоустанавливающие документы Конкурса, а также документы, посредством которых производится информирование участников Конкурса в сети Интернет о ходе проведения Конкурса и его результатах, имеет адрес страницы в сети Интернет: https://rsfrontend.herokuapp.com, и адрес электронной почты Конкурса risingstarfest@gmail.com.
        <br>
        3. Предмет Договора.
        <br>
        3.1. Договор определяет условия и порядок организации и проведения Конкурса Организатором конкурса, а также условия и порядок участия Участника в Конкурсе.
        <br>
        3.2. Участниками Конкурса могут стать любые физические лица, достигшие 18 лет, выставляющие свою работу на Конкурс и законные представители несовершеннолетнего лица (родители, опекуны и иные лица, представляющие его законные интересы в соответствии с законодательством Украины), выставляющие работу, выполненную несовершеннолетним лицом от 3 лет (Если участник не достиг совершеннолетия, подачу Заявления производит его Законный представитель)
        <br>
        3.3. Сроки проведения Конкурса определяются Организатором конкурса и размещаются на Сайте. Сроки проведения конкурса могут меняться на усмотрение Организаторов конкурса.
        <br>
        3.4. Порядок участия в конкурсе: - подача заявки на участие в конкурсе; - оплата организационного взноса; - отправка конкурсных видеозаписей и копии документов об оплате организационного взноса; - определение состава Участников и подготовка конкурсных видеозаписей в электронном виде в соответствиями с требованиями указанными в положении о проведении конкурса; - подведение итогов.
        <br>
        3.3. Исполнение песен разрешается на любом языке.
        <br>
        3.3.1 Организаторы не ограничивают участников в творческих проявлениях при подаче конкурсных работ, но оценивание жюри происходит по определенным критериям (сценическая культура, сценическая свобода и артистичность, уровень мастерства исполнения, сложность и оригинальность исполнения, драматургия произведения и режиссура, актерское мастерство). Участник использовавший обработку, бэк-вокал, корректировку и другие технические изменения берет ответственность за корректность оценивания подаваемой конкурсной работы, так как техническая корректировка и обработка не дают в полной мере оценить мастерство участника. Организаторы могут просить участника заменить конкурсную работу, так же дисквалифицировать участника, если подаваемая конкурсная программа будет нарушать формат конкурса, права правообладателей, общечеловеческие принципы.
        <br>
        3.3.2 Если участник до окончания периода подачи заявок не предоставил конкурсную работу (полную форму регистрации) данный участник будет дисквалифицирован без возврата «Добровольного взноса».
        <br>
        3.4. Цель Международного онлайн фестиваля и любых других конкурсов «Rising Star» – содействие людям, создающей или исполняющим музыку, песни, танцы, театральные представления, акробатические номера или какие либо другие номера в рамках правил представленных положений. Поделиться своим творчеством с другими людьми!
        <br>
        3.5. Ссылки для скачивания Конкурсных видеозаписей высылаются Участником или Законным представителем Участника на адрес Организатора конкурса «risingstarfest@gmail.com» или указываются в заявке в срок установленный в Положении о проведении конкурса.
        <br>
        3.6. Прослушивание конкурсантов проводится Организаторами конкурса и членами жюри.
        <br>
        3.7. Сроки проведения конкурса определяются Положением о проведении фестиваля, являющимся неотъемлемой частью Договора. Конкурс считается проведенным с момента определения членами жюри победителя.
        <br>
        3.8. Для участия в конкурсе конкурсантам необходимо не позднее указанного организаторам срока заполнить Анкету-Заявку (с сайта https://rsfrontend.herokuapp.com/request) добавить видеоматериал и отослать организаторам конкурса.
        <br>
        3.9. Видеоматериал должен представлять собой запись живого выступления Участника. Порядок предоставления видеоматериала указан в Приложении 2 к Положению о проведении конкурса.
        <br>
        3.10. Видеоматериал для участия в конкурсе, принимается после добровольного взноса, согласно п. 9.2, 9.9 данного Договора. Без добровольного взноса работы не принимаются.
        <br>
        3.11. Конкурсные работы высылаются Участниками на адрес конкурса risingstarfest@gmail.com или с помощью формы (сайта формы https://rsfrontend.herokuapp.com/request) в сроки, установленные в Положении о проведении фестиваля. Работы должны быть оформлены в соответствии с требованиями, указанными в Договоре и в Положении о конкурсе. Конкурсные работы не редактируются, не рецензируются Организатором конкурса и членами Жюри и не возвращаются Участникам. Информирование участников обо всех событиях, связанных с проведением конкурса, осуществляется на Сайте или с помощью любых других способов на усмотрение организаторов конкурса. Размещение любой официальной информации на Сайте является официальным порядком информирования. Каждый участник считается информированным надлежащим способом с момента публикации информации на Сайте или в оффицальной группе Фэйсбук, Инстаграм. Отчеты об итогах Конкурса, равно как и наградные материалы, публикуются на или Сайте или в группе Фэйсбук, Инстаграм.
        <br>
        3.12. Организаторы конкурса, имеют право на использование видео, фото и аудио материалов, предоставленных участником в маркетинговых целях без передачи им прав собственности на произведение.
        <br>
        3.13. Каждый Участник принимает, что участие в конкурсе добровольно, и Организатор конкурса не несёт ответственности за содержание авторских материалов и не может гарантировать и не обещает никаких специфических результатов от участия в конкурсе и/или использования сайта конкурса и/или его сервисов.
        <br>
        3.14. Организатор конкурса вправе затребовать у любого участника конкурса документ, удостоверяющий личность; адрес регистрации, точный почтовый адрес, другие документы и сведения, необходимые для соблюдения законодательства Украины и/или для организации и проведения конкурса, в форме сканированных копий или нотариально заверенных документов.
        <br>
        3.15. Участники не имеют права публиковать в открытом доступе персональные данные (телефон, адрес проживания и т.п.) как свои, так и третьих лиц.
        <br>
        3.16. Участник обязуется не нарушать авторские права третьих лиц. За нарушение установленного порядка участия в Конкурсе, установленного Договором, или несоблюдение действующего законодательства, работа Участника может быть удалена из Конкурса без предоставления подтверждающих документов, а также на любом этапе участия в Конкурсе.
        <br>
        3.17. За нарушение установленного порядка участия в Конкурсе, устанавливаемого Договором, или несоблюдение действующего законодательства Украины, Участник может быть отстранён из участия в Конкурсе без предоставления подтверждающих документов, а также на любом этапе участия в Конкурсе.
        <br>
        3.18. В случае не представления Участником конкурсной работы в электронном виде в установленном Договором порядке или её предоставления в несогласованном с организаторами конкурса формате, а также предоставления неверных сопроводительных данных или реквизитов, все риски и последствия признания работы недействительной принимает на себя автор работы.
        <br>
        3.19. Основания для исключения участника из конкурса: нарушение правил участия в Конкурсе, изложенных в Договоре; проявление неуважения к Жюри Конкурса; не представление конкурсной работы в порядке и сроки, указанные в Договоре, в Положении о проведении фестиваля. Данный перечень не является исчерпывающим.
        <br>
        4. Оформление конкурсной работы.
        <br>
        4.1. Конкурсная работа представляется в виде одного видео- файла популярного формата (на выбор Участника), общим объемом не более 1000 Мбайт. В случае отправки видео посредством формы на сайте не более 300 Мбайт. В случае невозможности воспроизвести файл, Жюри Конкурса вправе запросить у Участника материалы работы в удобном для неё формате.
        <br>
        4.2. Работы, объемом более 1000 Мбайт, не принимаются на Конкурс.( В интернете огромное множество ресурсов для сжатия видео фалов)
        <br>
        4.3. Для пересылки по электронной почте папка с конкурсными материалами архивируется по стандарту ZIP и должна иметь расширение «.zip». Содержимое архива не должно быть закрыто никаким способом (паролем, ключом, и пр.).
        <br>
        4.4. При отправке архива с конкурсной работой по электронной почте на Адрес Организаторов конкурса risingstarfest@gmail.com в тексте письма необходимо указать:
        <br>
        4.4.1. ФИО Участника;
        <br>
        4.4.2. ФИО несовершеннолетнего автора работы, если Участник представляет работу несовершеннолетнего;
        <br>
        4.4.3. название работы; И другие данные указанные в положении.
        <br>
        5. Меры поощрения участников Конкурса
        <br>
        5.1. Жюри вправе поощрять Участников конкурса наградными документами, сувенирами, денежными средствами установленного Организатором конкурса образца.
        <br>
        6. Порядок определения и награждения победителей Конкурса
        <br>
        6.1. Призовой фонд формируется за счет средств Участников конкурса, средств Спонсоров и средств организаторов Конкурса по усмотрению организаторов. Средства призового фонда идут на обеспечение деятельности Организатора конкурса, в том числе, деятельности по организации Конкурса.
        <br>
        6.2. Победители Конкурса определяются членами Жюри путем тайного голосования, по результатам рассмотрения представленных Участниками конкурсных работ.
        <br>
        6.3. Для оценки Участников конкурса и определения победителей конкурса, организаторы конкурса направляют каждому из членов жюри, в электронном виде, конкурсные работы Участников конкурса.
        <br>
        6.4. Оценка Участников фестиваля осуществляется членами жюри в порядке, предусмотренном Положением о проведении онлайн фестиваля, по результатам просмотра, прослушивания конкурсных работ.
        <br>
        6.5. Каждый член жюри оценивает конкурсные работы в той стране, резидентом которой он является в период конкурса или в которой пребывает в момент оценки конкурсной работы. Конкурс фактически проводится в стране проживания каждого члена жюри.
        <br>
        6.6. Решение Жюри об определении победителей Конкурса окончательное, обжалованию не подлежит, и вступает в силу с момента его опубликования на Сайте или офф. Группе Фэйсбук, Инстаграм.
        <br>
        <br>
        6.7. Список победителей доводится до сведения общественности посредством объявления на Сайте или офф. Группе Фэйсбук, Инстаграм. О факте занятия призового места победитель будет извещен по электронной почте и/или путем размещения объявления на Сайте и/или соц сетях (каналах) фестиваля
        <br>
        7. Рассмотрение заявлений Участников и разрешение споров
        <br>
        7.1. Участник при исполнении Договора вправе направлять уведомления, запросы, претензии, заявления, жалобы и прочие обращения к Организатору конкурса, как предусмотренные, так и не предусмотренные Договором, одним из следующих способов (если иное не предусмотрено Договором):
        <br>
        7.1.1. путем сообщения жалобы, претензии или какого-либо другого обращения на электронный Адрес Организатора конкурса: risingstarfest@gmail.com
        <br>
        7.1.2. путем обеспечения Участником получения Организатором конкурса заявления на бумажном носителе, если подпись Участника на таком заявлении удостоверена нотариально;
        <br>
        7.1.3. иным способом, согласованным Организатором конкурса и Участником. Организатор конкурса принимает к рассмотрению только обращения Участника, составленные на украинском или русском языке.
        <br>
        7.2. В случаях, установленных Договором или перечисленных на Сайте, Участник обязан предоставить Организатору конкурса письменное заявление соответствующей формы и содержания.
        <br>
        7.3. Организатор конкурса после получения от Участника письменного заявления, в том числе претензии, обязан в течение срока, установленного действующим законодательством Украины рассмотреть заявление и сообщить о результатах его рассмотрения Участнику.
        <br>
        7.4. Ответ на заявление Участника (в том числе Претензию) направляется участнику одним из способов, выбираемым по усмотрению Организатора конкурса. В случае принятия решения о полном удовлетворении претензии Организатор конкурса вправе совершить соответствующие действия без направления заявителю ответа об удовлетворении претензии. 8. Права и обязанности Сторон
        <br>
        8.1. Права Организатора конкурса:
        <br>
        8.1.1. отказать в регистрации конкурсной работы Участника в случае обнаружения несоответствия работы требованиям, предъявляемым к ней данным Договором;
        <br>
        8.1.2. не принимать в качестве подтверждения добровольного взноса Участника конкурса копию документа, содержащую ошибки, допущенные Участником или иным лицом при указании платежных и иных реквизитов Организатора конкурса.
        <br>
        8.1.3. обрабатывать любым способом в целях исполнения Договора любые персональные данные Участника, предоставленные Участником лично, либо через третьих лиц при заключении, либо в период действия Договора;
        <br>
        8.1.4. Участник предоставляет Организатору конкурса исключительные права создания, владения, пользования и распоряжения аудио-, видео- и фотоматериалами (далее «Материалы»), которые будут созданы в отношении Участника в период проведения Конкурса, на территории всех стран мира, на весь срок охраны авторских прав, который начинает исчисляться с момента подписания Сторонами настоящего Договора.
        <br>
        8.2. Права Участника:
        <br>
        8.2.1. получать уведомления о ходе обработки своей заявки на участие в конкурсе в порядке, предусмотренном Договором;
        <br>
        8.2.2. предъявлять Организатору конкурса претензии и направлять иные заявления в порядке и случаях, предусмотренных Договором;
        <br>
        8.2.3. в одностороннем порядке отказаться от исполнения Договора, уведомив Организатора конкурса в порядке, предусмотренным Договором.
        <br>
        8.3. Обязанности Организатора конкурса:
        <br>
        8.3.1. уведомлять Участника о внесении изменений в Договор путем размещения такого уведомления на Сайте Организатора конкурса, либо направления Участнику уведомления иным способом, предусмотренным Договором;
        <br>
        8.3.2. принимать меры для предотвращения несанкционированного доступа иных лиц к информации о персональных данных Участника, отличной от опубликованной в открытом виде на Сайте Организатора конкурса;
        <br>
        8.4. Обязанности Участника:
        <br>
        8.4.1. предоставить Организатору конкурса достоверные и актуальные контактные данные;
        <br>
        8.4.2. своевременно информировать Организатора конкурса об изменении персональных данных, реквизитов и данных в документах, предъявляемых на Конкурс, данных для направления уведомлений;
        <br>
        8.4.3. предоставлять Организатору конкурса информацию и документы, требуемые Организатором конкурса в рамках исполнения Договора;
        <br>
        8.4.4. Участник дает Организатору конкурса согласие на обработку любых персональных данных, любым способом в целях исполнения Договора, предоставленных Участником лично, либо через третьих лиц, при заключении, либо в период действия Договора. В случае, если при исполнении Договора Участник предоставляет Организатору конкурса персональные данные третьих лиц, Участник гарантирует законность их получения и наличие согласия субъектов этих персональных данных на их предоставление, а также принимает на себя ответственность за правомерность предоставления и соответствие действительности указанных данных;
        <br>
        8.4.5. Участник соглашается с тем, что все предоставленные им Организатору конкурса персональные данные могут быть открыто опубликованы на Сайте организатора и в других средствах массовой информации.
        <br>
        9. Порядок заключения и добровольного взноса по договору
        <br>
        9.1. Договор заключается между Организатором конкурса и Участником в форме публичного договора (ст.ст. 633, 641 Гражданского кодекса Украины).
        <br>
        9.2. Акцептом условий Договора является совершение Участником следующего действия: - внесение добровольного взноса на расчетный счет или банковскую карту Организатора конкурса как путем прямой перевода так и перечисление через платежные интернет-сервисы, которые Организатор конкурса имеем право самостоятельно выбирать и менять
        <br>
        9.3. Условием участия в Конкурсе является внесение добровольного взноса.
        <br>
        9.4. Размер конкурсного взноса определяются в соответствии с тарифами, указанными в Положении о проведении международного онлайн фестиваля, и публикуется на сайте Организатора конкурса.
        <br>
        9.5. Организатор конкурса вправе в одностороннем порядке полностью или частично изменять (увеличивать, уменьшать), устанавливать новые, отменять существующие добровольные взносы. При этом указанные изменения вступают в силу со дня опубликования указанных изменений на Сайте Организатора конкурса, если иное не предусмотрено Организатором конкурса.
        <br>
        9.6. В случае несогласия с применением новых размеров конкурсных взносов Участник вправе в одностороннем порядке отказаться от исполнения Договора.
        <br>
        9.7. Вне зависимости от результатов конкурса, переведенный Участником добровольный взнос в случае прекращения действия Договора не возвращается.
        <br>
        9.8. Все переводы Сторон осуществляются в Доллар США, Английский Фунт, Евро, Украинская гривна. На усмотрение оргкомитета фестиваля.
        <br>
        9.9. Добровольный взнос по настоящему Договору осуществляется Участником в виде перевода 100%-ной суммы по любому из вариантов безналичной оплаты, указанных организаторами конкурса, если иное не оговорено дополнительным соглашением (условиями) к настоящему Договору оферты.
        <br>
        9.10. Добровольный взнос не возвращается. В течении 5 рабочих дней можно вернуть предоплату в размере 50% указав причину возврата отправив письмо по почтовому адресу, указанному в настоящем Договоре, заранее сообщив об этом в организаторов конкурса.
        <br>
        9.11. Акцепт условий Договора означает полное и безоговорочное принятие Участником всех условий Договора без каких-либо изъятий и/или ограничений и равносилен заключению двухстороннего письменного договора.
        <br>
        10. Изменение и прекращение Договора
        <br>
        10.1. Стороны договорились, что Организатор конкурса имеет право вносить изменения в условия Договора. Изменения, внесенные Организатором конкурса, становятся обязательными для Сторон с момента их размещения на Сайте, если иное не предусмотрено Организатором конкурса.
        <br>
        10.2. В случае несогласия с изменением условий Договора, Участник имеет право в течение трех календарных дней с момента размещения новой редакции Договора на Сайте Организатора конкурса в одностороннем порядке отказаться от исполнения Договора путем передачи Организатору конкурса оригинального экземпляра подписанного заявления на бумажном носителе по форме, установленной Организатором конкурса.
        <br>
        10.3. В случае неполучения Организатором конкурса письменного уведомления от Участника об одностороннем отказе от исполнения Договора в срок, установленный пунктом
        <br>
        10.2. Договора, Участник считается выразившим согласие с изменениями условий Договора.
        <br>
        10.4. Отказ от исполнения Договора, расторжение Договора, прекращение действия Договора по иным причинам влечет прекращение участия Участника в Конкурсе.
        <br>
        10.5. Участник вправе в любое время отказаться от исполнения Договора путем направления соответствующего уведомления Организатору конкурса способами, предусмотренными Договором. В данном случае Договор считается расторгнутым по истечении 10 (десяти) календарных дней после получения Организатором конкурса соответствующего уведомления. Добровольный взнос в этом случае не подлежит возврату Участнику.
        <br>
        10.6. Организатор конкурса вправе в одностороннем порядке отказаться от исполнения Договора путем направления Участнику соответствующего уведомления любым из способов, предусмотренных Договором. В данном случае Договор считается расторгнутым по истечении 15 (пятнадцати) календарных дней после отправления соответствующего уведомления. 11.Ответственность Сторон
        <br>
        11.1. В случае нарушения своих обязательств по настоящей Оферте Стороны несут ответственность, определенную настоящей Офертой и действующим законодательством Украины.
        <br>
        11.2. Организатор конкурса не несет ответственности:
        <br>
        11.2.1. за сбои в работе сторонних сервисов, почты, Интернета, сетей связи, возникшие по независящим от Организатора конкурса причинам и повлекшие за собой несвоевременное получение или неполучение Участником уведомлений Организатора конкурса;
        <br>
        11.2.2. в случае технических сбоев (отключение/повреждение электропитания и сетей связи, сбои программного обеспечения процессингового центра и технические сбои в платежных системах), повлекших за собой невыполнение Организатором конкурса условий Договора;
        <br>
        11.2.3. за убытки, возникшие в результате неправильного заполнения Участником распоряжений о совершении операции перевода добровольного взноса;
        <br>
        11.2.4. за убытки, возникшие в результате нарушения Участником установленного порядка внесения денежных средств добровольного взноса;
        <br>
        11.2.5. за убытки, возникшие в результате предоставления Участником недостоверных, некорректных, ошибочных данных для направления уведомлений;
        <br>
        11.2.6. за убытки, возникшие в результате предоставления Участником недостоверных идентификационных данных; 12. Форс-мажор.
        <br>
        12.1. Стороны освобождаются от ответственности за неисполнение обязательств, если это неисполнение вызвано обстоятельствами, которые не зависят от воли Сторон, а военное положение, именно: военными действиями, стихийными бедствиями, техногенными и другими авариями, забастовками, локаутами, актами органов власти или управления и т.д., что делает невозможным выполнение условий настоящего Договора (далее Форс-мажор).
        <br>
        12.2. Форс-мажор применяется, и Сторона, для которой он наступил, освобождается от ответственности за нарушение условий настоящего Договора, при наличии письменного подтверждения (заключение, справка) Торгово-промышленной палаты Украины или той страны, в которой наступили форс- мажорные обстоятельства или иного уполномоченного органа о наступлении форс-мажора.
        <br>
        12.3. Сторона, для которой наступил Форс-мажор, обязуется немедленно уведомить другую Сторону и предоставить подтверждающие Форс-мажор документы.
        <br>
        12.4. С момента получения такого уведомления другой стороной выполнение условий данного Договора приостанавливаются на весь период действия Форс-мажора.
        <br>
        12.5. В случае действия Форс-мажорных обстоятельств более 3 месяцев каждая из сторон имеет право инициировать прекращение Договора.
        <br>
        13. Порядок информационного взаимодействия Сторон
        <br>
        13.1. Участник при заключении Договора обязан предоставить Организатору конкурса достоверную информацию для связи с Участником и направления ему уведомлений о ходе Конкурса. Участник несет ответственность за обеспечение постоянного соответствия указанных данных действительности.
        <br>
        13.2. По умолчанию надлежащим способом информирования Участника об операции с его заявкой и конкурсной работой является отправка уведомления на адрес электронной почты, предоставленный Участником в соответствии с пунктом
        <br>
        13.1. Договора.
        <br>
        13.3. Участник вправе в любой момент изменить выбранный ранее способ уведомления, предоставив Организатору конкурса достоверную информацию для связи с Участником и направления ему уведомлений, установленным Организатором конкурса способом.
        <br>
        13.4. В случае отказа Участника от всех предложенных Организатором конкурса способов отправки Участнику уведомлений об операциях с заявкой и конкурсной работой, Участник признается не предоставившим надлежащим образом информацию для связи с Участником в соответствии с п.
        <br>
        13.1, а Организатор конкурса считается исполнившим свои обязательства по информированию Участника о совершенных операциях с заявкой и конкурсной работой. Участник не вправе в таком случае предъявлять Организатору конкурса претензии, связанные с ненадлежащим информированием Участника об операциях.
        <br>
        13.5. Обязанность Организатора конкурса по информированию Участника о совершении операции с заявкой и конкурсной работой считается исполненной в момент отправки соответствующего уведомления. Уведомление считается полученным Участником в течение 24 часов с момента отправки. Организатора конкурса не несет ответственности за отсутствие у Участника доступа к средствам, с использованием которых Участник может получить уведомление, либо несвоевременное получение уведомления, в том числе за сбои в работе Интернета, сетей связи, возникшие по независящим от Организатора конкурса причинам и повлекшие за собой несвоевременное получение или неполучение Участником уведомлений Организатора конкурса.
        <br>
        13.6. Организатор конкурса вправе по своему усмотрению направлять Участнику любые иные уведомления (в том числе порождающие правовые последствия), ответы на заявления, претензии и прочие обращения, одним из следующих способов:
        <br>
        13.6.1. путем размещения на Сайте Организатора конкурса;
        <br>
        13.6.2. на адрес электронной почты Участника, предоставленный в соответствии с пунктом
        <br>
        13.1. и/или указанный им в любом письменном заявлении, ранее полученном Организатором конкурса; При направлении уведомлений в соответствии с подпунктами
        <br>
        13.6.1.-13.6.2. Договора уведомление считается полученным Участником по истечении 24 часов с момента направления уведомления.
        <br>
        14.Прочие положения
        <br>
        14.1. Участник гарантирует, что все условия Договора ему понятны, и он принимает их безусловно и в полном объеме.
        <br>
        14.2. Участник гарантирует, что не будет использовать Конкурс в противоправных целях, а также в иных целях, нежели указаны в Договоре.
        <br>
        14.4. К взаимоотношениям между Сторонами в рамках Договора применяется материальное и процессуальное право Украины независимо от гражданства и места жительства Участника.
        <br>
        14.5. Организатор конкурса является плательщиком единого налога
        <br>
        14.6. Организатор конкурса не зарегистрирован в качестве плательщика НДС и не является таковым.
        <br>
        14.7 Всем участникам будут отправлены бесплатно Дипломы в электронном виде. Электронные дипломы отправляются с подписью членов жюри. Переписка с участниками через официальные каналы связи является официальной позицией организаторов комитета.
    </div>
</main>
<nav class="z-depth-0 purple darken-4">
    <div class="nav-wrapper">
        <ul class="left">
            <li class="">
                <a href="/">Назад</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>



