
<!--    <h1><%= title %></h1>-->
<!--    <p style="color: #4e342e;font-size: 2em"><%= description %></p>-->
    <div class="row">
        <% for(let i = 0; news.length > i; i++) { %>
            <div class="col s12 m6">
                <div class="card-panel white">
                    <img width="100%" src="<%=banner%>" alt="Rising star">
                    <h4> Положение</h4>
                    <div class="btn-wrapper" style="display: flex; justify-content: space-between; align-content: center">
                        <a href="#" style="background-color: #4a148c" class="waves-effect waves-light btn">Читать</a>
                        <a href="#" style="background-color: #4a148c" class="waves-effect waves-light btn">Скачать</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>

