<div class="row">
    <% for(let i = 0; regulations.length > i; i++) { %>
        <% if(regulations[i].show) { %>
        <div class="col s12 m6 l6 xl4">
            <div class="card-panel white">
                <img width="100%" src="<%=regulations[i].img%>" alt="Rising star">
                <h5><%=regulations[i].title%></h5>
                <div style="margin-bottom: 0" class="btn-wrapper row">
                    <a href="<%='/regulation/' + regulations[i].id%>" style="background-color: #4a148c;width: 100%" class="waves-effect waves-light btn btn-small">Читать / Скачать</a>
                </div>
            </div>
        </div>
        <% } %>
    <% } %>
</div>
