<!doctype html>
<html lang="en" style="background-image: url('<%= banner %>')">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>
<main class="container img-wrapper-background height-main">
<h1>Контакты</h1>
</main>
<%- include('partials/footer.ejs') %>
<script src="/javascripts/common.js"></script>
</body>
</html>
