<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>
<main class="container img-wrapper-background height-main">
<h3>Контактні дані:</h3>
    <ul style="font-size: 18px; line-height: 38px">
        <li>+380 (97) 954 18 34</li>
        <li>+380 (99) 222 77 74</li>
        <li>(Viber, Telegram, WhatsApp)</li>
        <li>email - risingstarfest@gmail.com</li>
    </ul>
</main>
<%- include('partials/footer.ejs') %>
<script src="/javascripts/materialize.js" ></script>
<script src="/javascripts/common.js"></script>
</body>
</html>
