<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>
<main class="container img-wrapper-background height-main">
    <div class="section">
        <h1 style="color: #9c27b0 !important;">Rising Star</h1>
        <h4 style="color: #666666">Міжнародний вокальний фестиваль-конкурс! | 2020-2022</h4>
    </div>
</main>
<%- include('partials/footer.ejs') %>

<script src="/javascripts/materialize.js" ></script>
<script src="/javascripts/common.js"></script>
</body>
</html>
