<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>
<main class="container img-wrapper-background height-main">
    <section>
        <h3 class="purple-text" style="font-size: 3em;margin-left: 7px;">Положения</h3>
    </section>
    <%- include('partials/regulation.ejs') %>
</main>
<%- include('partials/footer.ejs') %>

<script src="/javascripts/materialize.js" ></script>
<script src="/javascripts/common.js"></script>
</body>
</html>
