<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>
<main class="container img-wrapper-background height-main">
<h1>Заявка</h1>
    <div class="row">
        <form class="col s12 request-form" action="/submit" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s12">
                    <input required maxlength="100" id="country" name="country" type="text" class="validate">
                    <label for="country" class="active">Країна</label>
                </div>
                <div class="input-field col s12">
                    <input required id="city" type="text" name="city" class="validate">
                    <label for="city" class="active">Місто</label>
                </div>
                <div class="input-field col s12">
                    <input required id="name_organisation" type="text" name="name_organisation" class="validate">
                    <label for="name_organisation" class="active">Керівник або студія (ім’я або назва)</label>
                </div>
                <div class="input-field col s12">
                    <input required id="pip" type="text" name="pip" class="validate">
                    <label for="pip" class="active">Прізвище, ім’я, по батькові <b>учасника</b> (англійською мовою)</label>
                </div>
                <div class="input-field col s12">
                    <input required id="nomination" type="text" name="nomination" class="validate">
                    <label for="nomination" class="active">Номінація</label>
                </div>
                <div class="input-field col s12">
                    <input required id="age" type="text" name="age" class="validate">
                    <label for="age" class="active">Вікова категорія</label>
                </div>

                <div class="input-field col s12">
                    <input required id="name_performance" type="text" name="name_performance" class="validate">
                    <label for="name_performance" class="active">Назва номеру</label>
                </div>
                <div class="input-field col s12">
                    <input required id="tel" type="text" name="tel" class="validate">
                    <label for="tel" class="active">Телефон для контакту</label>
                </div>
                <div class="input-field col s12">
                    <input required id="email" type="email" name="email" class="validate">
                    <label for="email" class="active">Електронна адреса</label>
                </div>
                <div class="input-field col s12">
                    <input required id="pip_getter" type="text" name="pip_getter" class="validate">
                    <label for="pip_getter" class="active">Номер пошти, ПІП, телефон отримувача</label>
                </div>
            </div>
            <div class="raw">
                <div class="file-field input-field">
                    <div style="background-color: #4a148c !important;" class="scale-transition btn waves-effect waves-light">
                        <span>Фото учасника (для каналу)</span>
                        <input required type="file" name="image" class="validate">
                    </div>
                    <div class="file-path-wrapper">
                        <input required class="file-path" type="text" disabled>
                    </div>
                </div>
            </div>

<!--            <div class="row">-->
<!--                <div class="col s12">-->
<!--                    This is an inline input field:-->
<!--                    <div class="input-field inline">-->
<!--                        <input id="email_inline" type="email" class="validate">-->
<!--                        <label for="email_inline">Email</label>-->
<!--                        <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div style="display: flex; justify-content: center;align-items: center;margin-bottom: 40px;">
                <button style="background-color: #4a148c !important;" class="btn waves-effect waves-light" type="submit">Отправить
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>


</main>
<%- include('partials/footer.ejs') %>

<script src="/javascripts/materialize.js" ></script>
<script src="/javascripts/common.js"></script>

</body>
</html>
