main ul > li {
    margin: 4px 0;
}
.button {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.btn-color {
    background-color: #4a148c !important;
}
h1 {
    color: #9c27b0;
}
.description {
    font-size: x-large;
    color: #212121;
}
