body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.m-right {
  margin-right: 60px;
}
.nav {
  line-height: 46px !important;
  height: 46px !important;
}
::-webkit-scrollbar { /* chrome based */
  width: 0;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}


html {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
main {
  flex: 1 0 auto;
}
h1 {
  color: #3e2723;
}
#btn-close {
  position: absolute;
  top: 5px;
  right: 7px;
  cursor: pointer;
  z-index: 999;
  display: flex;
  justify-content: center;
}
#btn-close a {
  display: flex;
  padding: 0 !important;
  height: inherit !important;
}
#btn-close a span {
  font-size: 34px !important;
}
.login-wrapper {
  position: absolute;
  display: inline-block;
  right: 10px;
}
.r-logo {
  margin-left: 10px;
}
.btn-wrapper {
  margin-top: 20px;
}
@media only screen and (max-width:768px) {

}
@media only screen and (max-width:320px) {
  .sidenav {
    width: 250px !important;
  }
}


@media only screen and (max-width: 1024px){

}
