body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
select {
  display: block !important;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom: 1px solid #9e9e9e !important;
  outline: none !important;
}
.m-right {
  margin-right: 60px;
}
.nav {
  line-height: 46px !important;
  height: 46px !important;
}
::-webkit-scrollbar { /* chrome based */
  width: 0;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

html {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

h1 {
  color: #333333;
}
#btn-close {
  position: absolute;
  top: 5px;
  right: 7px;
  cursor: pointer;
  z-index: 999;
  display: flex;
  justify-content: center;
}
#btn-close a {
  display: flex;
  padding: 0 !important;
  height: inherit !important;
}
#btn-close a span {
  font-size: 34px !important;
}
.login-wrapper {
  position: absolute;
  display: inline-block;
  right: 10px;
}
.r-logo {
  margin-left: 10px;
}
.btn-wrapper {
  margin-top: 20px;
}
@media only screen and (max-width:768px) {
  .cls-m {
    margin-left: 0 !important;
  }
  .footer-copyright {
    font-size: 10px;
  }
  .cls-m-m {
    margin-top: 10px !important;
  }
}
@media only screen and (max-width:425px) {
  .cls-m-s {
    margin-top: 6px !important;
  }
  .request-form {
    border: none !important;
  }
  .text-span {
    font-size: 10px;
  }
}

@media only screen and (max-width:320px) {
  .sidenav {
    width: 250px !important;
  }
}
.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field select.valid
{
  border-bottom: 1px solid #4a148c !important;
  box-shadow: 0 1px 0 0 #4a148c !important;
}
[type="checkbox"]:checked+span:not(.lever):before
{
  border-bottom: 2px solid #4a148c !important;
  border-right: 2px solid #4a148c !important;
}
input[type=text]:not(.browser-default).valid ~ .helper-text:after,
input[type=email]:not(.browser-default).valid ~ .helper-text:after,
select:not(.browser-default).valid ~ .helper-text:after,
input[type=text]:not(.browser-default).valid ~ label,
input[type=email]:not(.browser-default).valid ~ label,
select:not(.browser-default).valid ~ label
{
  color: gold !important;
}
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field select:focus + label
{
  color: #4a148c !important;
}
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field select:focus
{
  border-bottom: 1px solid #4a148c !important;
  box-shadow: 0 1px 0 0 #4a148c !important;
}
.page-footer, nav {
  background: linear-gradient(45deg, rgb(102, 20, 140), rgb(74, 20, 140));
}
.footer-copyright {
  background-color: transparent !important;
}
.input-select-genre input {
  /*color: #9e9e9e;*/
}
.helper-text-genre {
  display: none;
}
.show-helper-text {
  display: block !important;
  color: red;
}
#tel {
  color: #9e9e9e;
}
.request-form {
  max-width: 500px;
  border: #4a148c 1px solid;
  padding: 15px 15px !important;
  margin-top: 25px;
  margin-left: 0 !important;
}
#btn-submit-data {
  background-color: #4a148c;
}
.error-text-images,
.error-text-invoice,
.error-text-images-art,
.error-text-video
{
  color: #F44336;
  display: none;
}

.wrapper-for-form {
  display: flex;
  justify-content: center;
}
.content-images,
.content-images-invoice,
.content-images-art
{
  display: flex;
}
.input-field {
  margin-bottom: 0 !important;
}
.btn-floating.btn-small {
  display: none;
  position: absolute !important;
  width: 28.4px !important;
  height: 28.4px !important;
  right: 12px;
  top: -17px;
}
.btn-floating.btn-small i {
  line-height: 29.4px;
}
