body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.m-right {
  margin-right: 10px;
}
html {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main {
  flex: 1 0 auto;
}
h1 {
  color: white;
}
/*
 ##Device = Desktops
 ##Screen = 1281px to higher resolution desktops
*/
/*@media (min-width: 1281px) {*/
/*}*/

/*
 ##Device = Laptops, Desktops
 ##Screen = B/w 1025px to 1280px
*/
/*@media (min-width: 1025px) and (max-width: 1280px) {*/

/*}*/

/*
 ##Device = Tablets, iPads (portrait)
 ##Screen = B/w 768px to 1024px
*/
/*@media (min-width: 768px) and (max-width: 1024px)  and (orientation: portrait) {*/

/*}*/

/*
 ##Device = Tablets, iPads (Landscape)
 ##Screen = B/w 768px to 1024px
*/
/*@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {*/

/*}*/

/*
 ##Device = Low Resolution Tablets, Mobiles (Landscape)
 ##Screen = B/w 481px to 767px
*/
@media only screen and (max-width:768px) {
  html {
    background-image: none !important;
    background: rgba(156, 39, 176, 1);
  }
}
@media only screen and (max-width:320px) {
  .sidenav {
    width: 250px !important;
  }
}


/*
 ##Device = Most of the Smartphones Mobiles (Portrait)
 ##Screen = B/w 320px to 479px
*/
/*@media (min-width: 320px) and (max-width: 480px) {*/

/*}*/
